<%= render '/layouts/create_header' %>
<div class="container">
    <%= render 'form', board: @board %>
</div>
<style>
.container {
    width: 100%;
    justify-content: flex-start;
}
</style>
<script>
$(".formSubmit").click(function(){
    $(".newBoard").submit();
})
</script>