<div class="container">
  <div class="header">
    <div class="daycount">
      큐티 시작 0 일째
    </div>
    <div class="empty"></div>
    <div class="boardexist">
      0 개의 말씀
    </div>
  </div>

  <div class="boardList">
    test
  </div>
</div>
<style>
  .container {
    display: flex;
    flex-direction: column;
    padding: 10%;
  }
  .header {
   
    display: flex;
    justify-content: space-between;

  }
</style>