<%= render '/layouts/create_header' %>
<div class="header_footer padding-side">
    <%= render 'form', board: @board %>
</div>

<script>
$(".formSubmit").click(function(){
    $(".newBoard").submit();
})
</script>