<%= render '/layouts/show_header' %>
<div class="header_footer padding-side">            
  <div class="showBOX padding-side widthFull">
    <div class="show showContent m-2">
      <%= simple_format(@board.content,class: "content") %>
    </div>
    <div class="show showDate m-2">
      <%= BoardsHelper.registerBoardTime(@board) %><br>
      <%= BoardsHelper.readBibleFromTo(@board) %>
    </div>

  </div>
</div>
<footer class="footer">
</footer>


<style>
.showBOX {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:100%;
  border: 1px solid #c5c5c5;
  background-size: cover;
}
.title {
  font-size: 15px;
}
.content {
  font-size: 11px !important;
}
</style>