/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap";
 @import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

body {
    font-family: 'Nanum Gothics', serif;
    background-color: #f1f1f7;
    // background-color: #FDF6E0;
}

html,
body {
    height: 100%;
}

.container {

    width: 100%;
    height: 100%;
    margin: 0px auto;
    padding: 0px;
    overflow: auto;
}

.container_hidden {
    overflow: hidden;
}

.container_scroll {
    overflow: scroll;
}

div.header {
    height: calc(100% - 56px);
}

div.footer {
    height: calc(100% - 56px);
}

div.header_footer {
    height: calc(100% - 56px - 56px);
}

/* Header */
header.header {

    margin: 0px auto;
    height: 56px;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    box-sizing: border-box;
    align-items: center;
    align-self: stretch;
    z-index: 3;
    display: flex;
    justify-content: space-between;

}

header.shadow {
    transition-duration: .2s;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-property: max-height,box-shadow;
}

.input_shadow {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}


/* Footer */
footer.footer {
    margin: 0px auto;
    height: 56px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    box-sizing: border-box;
    align-items: center;
    align-self: stretch;
    z-index: 3;
}

footer div.col_2 {
    width: 50%;
    height: calc(100% - 10px);
    box-sizing: border-box;
    padding: 5px;
}
footer div.col_3 {
    width: 33.3333333%;
    height: calc(100% - 10px);
    box-sizing: border-box;
    padding: 5px;
}

footer div.col_4 {
    width: 25%;
    height: calc(100% - 10px);
    height: calc(100% - 10px);
    box-sizing: border-box;
    margin: 5px;
}

footer div.col_5 {
    width: 20%;
    height: calc(100% - 10px);
    box-sizing: border-box;
    padding: 5px;
}


a {
    text-decoration: none;
    color: black;
}
.padding-side {
    padding-left: 5%;
    padding-right: 5%;
}
.widthFull {
  width: 100%;
}

.no_header_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}
.showBOX {
    justify-content: center; 
    align-items: center;
  }
  .detail {
    text-align: center;
  }
  .show {
    text-align: center;
  }
  .showTitle {
    font-weight: 700;
    font-size: 20px;
  }
  .showDate {
    font-size: 11px;
  }
