// Place all the styles related to the Boards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
  .newBoardBOX {
    border: 1px solid #c5c5c5;
    height: 540px;
    background-color: #f9f9ff;
    padding: 20px 15px;
  
  }    

  .bibleSelect {
    border: 1px solid #c5c5c5;
    height: 50px;
    align-items: center;
    background-color: #f9f9fe;
    }
  .newBoardTitle {
    padding-bottom: 15px;
    border-bottom: 1px solid #c5c5c5;
    font-size: 18px;
  
  }
  .newBoard input {
    width: 100%;
    background-color: #f9f9ff;
    text-align: center;
    border: 0px;
    color: black;
  }
  .newBoardContent {
    margin-top: 20px;
    height: 427px;
    font-size: 18px;
  }
  #board_content {
    height: 99%;
    width: 100%;
    background-color: #f9f9ff;
    border: 0px;
  }

  .newBoardBible {
    display: flex;
    justify-content: space-around;
    margin-bottom: 5px;
  }
  .startBible,
  .endBible {
    display: flex;

  }
  .newBible select,
  .newBible input {
    font-size: 13px;
    margin-right: 5px;
    width: 35px;
    font-size: 11px;
    -webkit-appearance: none; /* 화살표 없애기 for chrome*/
    -moz-appearance: none;    /* 화살표 없애기 for firefox*/
    appearance: none;         /* 화살표 없애기 공통*/
  }
  .newBook select{
    margin-right: 5px;
    width: 60px;
    font-size: 11px;
    -webkit-appearance: none; /* 화살표 없애기 for chrome*/
    -moz-appearance: none;    /* 화살표 없애기 for firefox*/
    appearance: none;         /* 화살표 없애기 공통*/
  }

  select::-ms-expand {
     display: none;            /* 화살표 없애기 for IE10, 11*/
  }