.loginBOX {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.loginTitle {
  display: flex;
  justify-content: center;
}
.form-actions {
    display: flex;
    justify-content: space-between;
  }
.new_user {
  width: 100%;
}
.new_user input {
  width: 100%;
  padding: 6px 13px;
  font-size: 11px;
  font-weight: 400;
  color: #777;
  border: 1px solid #ededed;
  margin-top: 5px;
  margin-bottom: 5px;
}
.signOther {
  display: flex;
  justify-content: space-around;
}
.FacebookLoginButton {
  text-align: center;
}

