<header class="header padding-side">
  <div class="headerBOX ">
    <div class="headerList moveBackPage">
        <%= link_to '뒤로가기', boards_path %>
    </div>
    <div class=""></div>
    <div class=" headerList formSubmit">
      등록하기
    </div>
  </div>
</header>
