<footer class="footer padding-side">
    <a href="/boards/new">
        <div class="icon">글쓰기 <%= image_tag  image_path "writeBtn.png" %></div>
    </a>
  
</footer>
<style>
.footer {
    position:absolute;
    width:100%;

    background-color: #f1f1f7;

    display:flex;
    justify-content:flex-end;
}

.icon img{
    width: 42px;
    height: 42px;
}
</style>